
#intro {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #007a1a;
    -webkit-text-stroke: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

p {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #007a1a;
    -webkit-text-stroke: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

h2 {
    padding-right: 70px;
    padding-left: 70px;
    font-family:Impact, Arial, Helvetica, sans-serif;
    -webkit-text-fill-color: #007a1a;
    -webkit-text-stroke: rgb(255, 255, 255);
    -webkit-text-stroke-width: 3px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

ul {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #007a1a;
    -webkit-text-stroke: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

#welcome {
    padding-top: 30px;
    padding-right: 70px;
    padding-left: 70px;
    color: #007a1a;
    -webkit-text-stroke: rgb(255, 255, 255);
    -webkit-text-stroke-width: 4px;
    font-weight: bold;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
    width: 100%;
}

#platform {
    padding-right: 70px;
    padding-left: 70px;
    color: #007a1a;
    -webkit-text-stroke: rgb(255, 255, 255);
    -webkit-text-stroke-width: 4px;
    font-weight: bold;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
}

a {
    -webkit-text-fill-color: #B71523;
    -webkit-text-stroke: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;

}

.container-fluid{
    -webkit-text-fill-color: #007a1a;
    -webkit-text-stroke: rgb(255, 255, 255);
    -webkit-text-stroke-width: 4px;
    font-weight: bold;
    paint-order: stroke fill;
    background-color: #5d0096;
}

.fix-stroke{
    paint-order: stroke fill;
}

#platform-width{
    width: fit-content;
    background-color: #00276843;

}

#row-2{
    background-color: #ff731d;
    width: 100%;
    row-gap: 0px;
}

#welcomepage{
    background-color: white;
    width: 100%;
}

#platformpage{
    background-image: linear-gradient(#679fff, #ff731d );
    width: 100%;
}

#row-1{
    background-color: #679fff24;
    row-gap: 0px;
}

footer{
    background-color: #ff731d;
    row-gap: 0px;
}

#join{
    background-color: #ff731d;
}

#banner{
    width: 100%;
    visibility: visible;
    z-index: 1;
}

.tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
