#intro {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00FA32;
    -webkit-text-stroke: rgb(13, 0, 1);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

p {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00FA32;
    -webkit-text-stroke: rgb(13, 0, 1);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

h2 {
    padding-right: 70px;
    padding-left: 70px;
    font-family:Impact, Arial, Helvetica, sans-serif;
    -webkit-text-fill-color: #00FA32;
    -webkit-text-stroke: rgb(13, 0, 1);
    -webkit-text-stroke-width: 3px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

ul {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00FA32;
    -webkit-text-stroke: rgb(13, 0, 1);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;
    font-size: large;
}

#welcome {
    padding-top: 30px;
    padding-right: 70px;
    padding-left: 70px;
    color: #00FA32;
    -webkit-text-stroke: rgb(13, 0, 1);
    -webkit-text-stroke-width: 4px;
    font-weight: bold;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
    width: 100%;
}

#platform {
    padding-right: 70px;
    padding-left: 70px;
    color: #00FA32;
    -webkit-text-stroke: rgb(13, 0, 1);
    -webkit-text-stroke-width: 4px;
    font-weight: bold;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
}

a {
    -webkit-text-fill-color: #0d0001;
    -webkit-text-stroke: rgb(93, 0, 150);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;

}

.container-fluid{
    -webkit-text-fill-color: #00FA32;
    -webkit-text-stroke: rgb(13, 0, 1);
    -webkit-text-stroke-width: 4px;
    font-weight: bold;
    paint-order: stroke fill;
    background-color: #5d0096;
}

.fix-stroke{
    paint-order: stroke fill;
}

#platform-width{
    width: fit-content;
    background-color: #5d0096;

}

#row-2{
    background-color: #5d0096;
    width: 100%;
    row-gap: 0px;
}

#welcomepage{
    background-color: purple;
    width: 100%;
}

#platformpage{
    background-image: linear-gradient(#679fff, #ff731d );
    width: 100%;
}

#row-1{
    background-color: #5d0096;
    row-gap: 0px;
}

footer{
    background-color: #5d0096;
    row-gap: 0px;
}

#join{
    background-color: #5d0096;
}

#banner{
    width: 100%;
    visibility: visible;
    z-index: 1;
}

.tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }


#Petition{
    background-image: linear-gradient(#679fff, #ff731d );
    width: 100%;
}

#Bills{
    background-image: linear-gradient(#679fff, #ff731d );
    width: 100%;
}

#Bills-width{
    width: fit-content;
    background-color: #5d0096;

}

#Petition-width{
    width: fit-content;
    background-color: #5d0096;
    text-align: center;

}

.navbar-brand{
    color: black !important;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.nav-link{
    color: black !important;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.bg-body-tertiary{
    background-color: #5d0096 !important;
}
.navbar{
    --bs-navbar-brand-hover-color: black;
    --bs-navbar-hover-color: black;
}

.navbar-toggler{
    background-color: #5d0096;
}

.nav-link:hover{
    color: black;
}

.nav-link:active{
    color: black;
}

.nav-link:visited{
    color: black;
}

.nav-link:focus{
    color: black;
}

.navbar-brand:hover{
    color: black;
}

.navbar-brand:active{
    color: black;
}

.navbar-brand:visited{
    color: black;
}

.navbar-brand:focus{
    color: black;
}

.navbar-toggler-icon{
}

#petition-btn{
    background-color: red !important;
    color: white !important;
    font-size: 50px;
    border-radius: 12px;
    border-color: #00FA32 !important;
    border-width: 5px !important;
    -webkit-text-stroke: rgb(13, 0, 1);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;
    paint-order: stroke fill;
    font-family: Arial, sans-serif;
}


